* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-noti,
.header-product,
.header-search,
.header-user,
.header-cart {
    padding: 0 24px;
    cursor: pointer;
}

.navbar-header {
    display: flex;
    position: fixed;
    top: 0;
    text-align: center;
    width: 100%;
    background-color: #000;
    color: #fff;
    line-height: 38px;
    font-size: 10px;
}

.l-navbar-header {
    width: 50%;
    text-align: left;
    padding-left: 40px;
    text-transform: uppercase;
}

.l-navbar-header span {
    display: inline-block;
    max-width: calc(100% - 38px);
    vertical-align: middle;
    font: inherit;
    text-align: left;
}

.r-navbar-header {
    display: block;
    width: 50%;
    text-align: right;
    padding-right: 40px;
    text-transform: uppercase;
}

.menu-drop {
    display: inline-flex;
    min-width: 0;
    cursor: pointer;
    font: inherit;
    line-height: 35px;
}
.menu-drop span {
    display: inline-block;
    vertical-align: center;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: .5px;
}

.header-top {
    margin-top: 35px;
    background-color: #fff;
    padding: 20px 0;
    border-bottom: 1px solid rgba(112, 112, 112, 0.3);
    position: relative;
    z-index: 2;
}

.nav-header-top {
    display: flex;
    max-width: 1670px;
    position: relative;
    margin: 0 auto;
    font: inherit;
}

.col-header-top {
    width: calc(100%/3);
    padding: 0 24px;
}

.header-logo {
    width: 156px;
    margin: 0 auto;
}

.header-logo img{
    display: block;
    max-width: 100%;
    vertical-align: middle;
}

.header-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
}

.noti-btn {
    position: relative;
    user-select: none;
    cursor: pointer;
    display: block;
}

.noti-btn img {
    width: 16px;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.noti-num p {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    right: 0;
    background-color: #47474c;
    padding: 0 5px;
    color: white;
    border-radius: 999px;
    transform: translate(5px, 10px);
    content: "";
}

.header-product a {
    user-select: none;
    text-decoration: none;
    color: inherit;
    font: inherit;
}

.search-btn {
    cursor: pointer;
    position: relative;
}

.search-btn {
    width: 18px;
    height: 18px;
}

.cart-num p {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    right: 0;
    background-color: #47474c;
    padding: 0 5px;
    color: white;
    border-radius: 999px;
    transform: translate(-110px, 10px);
    content: "";
}

.user-btn {
    cursor: pointer;
}

.user-btn img {
    max-width: 100%;
    vertical-align: middle;
}

.header-bot {
    background-color: #fff;
    position: relative;
    width: 100%;
    height: 47px;
    border-bottom: 1px solid rgba(112, 112, 112, 0.3);
}

.nav-header-bot {
    padding: 0;
    max-width: 1670px;
    position: relative;
    margin: 0 auto;
}

.main-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    /* height: 47px; */
}

.main-menu li a {
    text-decoration: none;
    display: block;
    padding: 13px 15px;
    font-weight: 300;
    position: relative;
    line-height: 21px;
    color: inherit;
}

.main-menu li a::after {
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    border-radius: 999px;
    left: 50%;
    bottom: 3px;
    transform: translateX(-50%);
    transition: width 0.3s ease, opacity 0s 0.3s;
    opacity: 0;
}

.main-menu li a:hover::before {
    width: 100%;
}

.banner img{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.banner-btn {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 72px 0;
    pointer-events: none;
    flex-direction: column;
    display: flex;
}

.banner-btn-1 {
    pointer-events: auto;
    margin-top: auto;
}

.ban-btn {
    display: block;
    margin: 0 auto;
    width: 270px;
    padding: 5px;
    pointer-events: auto;
    background-color: #fff;
    border: none;
    position: relative;
    z-index: 1;
    line-height: 31px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    transform: translateY(200px);
}

.ban-btn:hover {
    color: #fff;
    border: none;
    background-color: #000;
    box-shadow: 1rem 1rem 3rem rgb(0 0 0 / 40%);
}

.title {
    padding: 80px 0;
    width: 100%;
    position: relative;
    display: block;
}

.con-title {
    max-width: 1670px;
    padding: 0 24px;
    margin: 0 auto;
}

.sec-title {
    font-size: 25px;
    font-family: "SVN-Futura Medium", sans-serif;
    text-transform: uppercase;
    text-align: center;
}