*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.login-page {
    padding: 80px 0;
}

.form-login-page {
    max-width: 480px;
    width: 100%;
    padding: 0 15px;
    position: relative;
    margin: 0 auto;
}

.form-login-page h2 {
    margin-bottom: 32px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "SVN-Futura Medium", sans-serif;
    line-height: 19px;
    text-align: center;
}

.form-text {
    margin-bottom: 22px;
}

.form-login a {
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
    font-family: "SVN Futura light", sans-serif;
    font: inherit;
    color: black;
}

.form-login-page a {
    color: #009eff;
}

.form-input-login {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #c0c0c0;
    padding: 10px;
    margin-bottom: 20px;
    font-family: "SVN-Futura light", sans-serif;
}

.form-check {
    margin-bottom: 45px;
    line-height: 21px;
    color: #47474c;
}

.bot-form-login {
    margin-top: 45px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.bot-form-login a{
    margin: 10px auto 10px 0;
    color: #009eff;
    font-family: "SVN-Futura light", sans-serif;
    display: inline-block;
}

.bot-form-login button {
    position: relative;
    display: block;
    padding: 5px;
    width: 170px;
    line-height: 1.5;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #47474c;
    color: #fff;
}

.bot-form-login button:hover {
    background-color: #000;
} 